*{
  font-family: sans-serif;
}
.header-nav{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.left p{
  margin: 0;
}
.right a{
  text-decoration: none;
  color: black;
  padding: 10px;
}
.header-front-picture img{
  width: 100%;
}

img {
  max-width: 100%;
}